.dado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

[class^="cara-"]{
    height: 100px;
    width: 100px;
    background: rgba(10,10,10, .3);
    border-radius: 10%;
    display: flex;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

.punto {
    background: white;
    border-radius: 80%;
    height: 20px;
    width: 20px;
}

.cara-1{
    justify-content: center;
    align-items: center;
}

.cara-2 {
    justify-content: space-between;
}

.cara-2 .punto:nth-child(2){
    align-self: flex-end;
}

.cara-3 {
    justify-content: space-between;
}

.cara-3 .punto:nth-child(2) {
    align-self: center;
}

.cara-3 .punto:nth-child(3) {
    align-self: flex-end;
}

.cara-4 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.cara-4 {
    justify-content: space-between;
}

.cara-5 {
    justify-content: space-between;
}

.cara-5 .columna:nth-child(2){
    align-self: center;
}

.cara-5 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cara-6 {
    justify-content: space-between;
}

.cara-6 .columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
